In [1]:
import numpy
import scipy
import csv
import pandas as pd

In [4]:
# open the file in universal line ending mode 
df_train = pd.read_csv('C:/Users/BHEL/Desktop/Recommendation Systems/Homework 2/census/train.csv',delimiter=",")
df_test = pd.read_csv('C:/Users/BHEL/Desktop/Recommendation Systems/Homework 2/census/test.csv',delimiter=",")

In [5]:
df_train.head()

,age,wrkclass,fnlwgt,education,educationnum,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
#Accessing columns
df_train['age'].head()

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

In [10]:
#Accessing rows, columns
df_train.loc[df_train['age'] >= 50, 'age']

1        50
3        53
7        52
21       54
24       59
25       56
27       54
41       53
45       57
46       53
53       50
67       53
74       79
77       67
81       52
83       59
85       53
90       57
100      76
112      56
115      53
116      56
118      55
140      61
144      70
148      64
154      52
157      71
160      68
169      66
         ..
32448    61
32454    50
32459    85
32460    62
32463    58
32465    66
32467    55
32469    58
32470    50
32479    64
32481    52
32487    51
32489    61
32490    60
32494    82
32498    57
32501    71
32504    50
32507    50
32515    66
32518    57
32522    58
32525    81
32533    54
32539    71
32542    72
32548    65
32554    53
32558    58
32560    52
Name: age, dtype: int64